extends layout

block content
  .row
    h1
      | Other Helpful Sites
    p
      | All about Animals have found some great articles that we think could be interesting to some and helpful for others.
    .box.col-sm-4.col-sm-offset-1.col-md-4.col-md-offset-1.col-xs-8.col-xs-offset-2
      a(href='http://www.huffingtonpost.com/2013/02/27/animals-autism-pets-asd_n_2776373.html')
        img.img-thumbnail.main-page-img(src='http://www.freeimages.com/assets/182949/1829483734/dogs-at-sunset--1438808-m.jpg')
      .text
        h3 How Animals can benefit ASD
    .box.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-xs-8.col-xs-offset-2
      a(href='http://www.helpguide.org/articles/autism/helping-children-with-autism.htm')
        img.img-thumbnail.main-page-img(src='http://www.freeimages.com/assets/71/704280/baby-and-mom-feet-1439844-m.jpg')
      .text
        h3 Autism Treatment and Parenting Tips
    .col-md-1
    .row
    .box.col-sm-4.col-sm-offset-1.col-md-4.col-md-offset-1.col-xs-8.col-xs-offset-2
      a(href='http://www.amazon.co.uk/When-Fraser-Met-Billy-Transformed/dp/1444769227')
        img.img-thumbnail.main-page-img(src='http://www.freeimages.com/assets/38/370248/kids-785724-m.jpg')
      .text
        h3 When Fraser Met Billy 
    .box.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-xs-8.col-xs-offset-2
      a(href='http://www.emaxhealth.com/11406/animals-better-christmas-gift-option-toys-kids-autism')
        img.img-thumbnail.main-page-img(src='http://www.freeimages.com/assets/182930/1829291799/playing-826409-m.jpg')
      .text
        h3 No More Toys!
    .col-md-1