doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .row
        .col-xs-4.col-md-3.col-md-offset-2.col-l-4.col-xl-4
          a(href="/" class="")
            img(id="thumb" src="https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/logo.png")
        .col-xs-6.col-md-4.col-l-4.col-xl-4
          #siteTitle
            #title
              p All About Animals
            h3 Piecing together the animal kingdom!
    nav.navbar.navbar-static-top.menubar
      .container
        .col-md-offset-2.col-md-10
          .nav-bar-header
          div#navbar
            ul.nav.navbar-nav
              li
                a(style="border-left: 2px solid white" class = "menu" href='/quizlist') Quizzes
              li
                a(class = "menu" href='/articles') Articles
              li
                  a(class = "menu" href='#contact') Parent Reviews
              li
                a(class = "menu" href='#contact') Parents
              li
                a(class = "menu" href="#") Search
          
    .container
      .wrapper
        block content
    footer
      nav.navbar.navbar-static-top.menubar
        .container
          .col-md-offset-1.col-md-10
            .nav-bar-header
            div#navbar
              ul.nav.navbar-nav
                li.menu
                  a(class = "menu" href='/admin') Admin
                li
                  a(class = "menu" href='#about') Site Map
                li
                  a(class = "menu" href='#contact') Our Mission
                li.menu
                  a(class = "menu" href='#') Contact Us
                li
                  a(class = "menu" href='#about') Other Helpful Sites