doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .row
        .col-md-12
          .col-xs-4.col-md-2.col-l-4.col-xl-4
            a(href="/" class="thumbnail")
              img(src="http://www.mikebirkhead.com/images/EyeForAnElephant.jpg")
          .col-xs-6.col-md-4.col-l-4.col-xl-4
            #siteTitle
              #title
                p All About Animals
              h3 Piecing together the animal kingdom!
    nav.navbar.navbar-static-top.menubar
      .col-md-10
        .container
          .nav-bar-header
          div#navbar
            ul.nav.navbar-nav
              li
                a(class = "menu" href='/') Quizzes
              li
                a(class = "menu" href='/articles') Articles
              li
                a(class = "menu" href='#contact') Games
              li
                a(class = "menu" href='#contact') Parents
              li
                p(class = "navbar-text menu") Search
            .navbar-form.navbar-left
              .form-group
                input(type="text" class="form-control" label="Search")
          
    .container
      .wrapper
        block content
    footer
      nav.navbar.navbar-static-top.menubar
        .nav-bar-header
        div#navbar
          ul.nav.navbar-nav
            li.menu
              a(class = "menu" href='#') Home Page
            li
              a(class = "menu" href='#about') Site Map
            li
              a(class = "menu" href='#contact') Our Mission
            li.menu
              a(class = "menu" href='#') Contact Us
            li
              a(class = "menu" href='#about') Other Helpful Sites
            li
              a(class = "menu" href='#contact') Parent Reviews