extends layout

block content
	h1
		| Our Mission
	p
		| The goal of All about Animals is to provide individuals with lifelong developmental disabilities a safe place to learn and interact with the world around them. Those that are diagnosed with autism have trouble communicating with the people around them and as well as making out the world around them. People with autism may also experience low or high sensitivity to sounds, touch, tastes, smells, light or colors.  With this in mind, All about Animals has taken into account each of these difficulties and made accommodations for them available within the website.
		br
		br
		| There are three main areas of difficulty with which all people with autism share, known as the "triad of impairments". This triad consists of three difficulties:  difficulty with social communication, difficulty with social interaction, and difficulty with social imagination. In order to facilitate social interaction between the individual with autism and the website, All about Animals seeks to provide a friendly animal based theme to its users. This may come in the form of information, quizzes, and games all with animal overtones. In order to combat this "triad of impairments", All about Animals will use the research provided by Animal Assisted Therapy studies on individuals with autism in order to properly develop and engage the users. This therapy has been seen to significantly develop autistic childrens engagement, communication, and awareness using animal based development practices.
		br
		br
		| The use of animals throughout All about Animals was made in due consideration to the research that supports the social benefit of individuals with autism interacting with animals. To this end it was found that those that had a pet or interacted with animals at a young age tended to develop greater social skills than those that did not.   The unconditional love and nonjudgmental companionship that animals can provide helps those with autism better understand their own feelings and the feelings of others.   With all of this is mind, the goal of this website is to have a safe, fun, and most importantly beneficial learning environment for those with autism.
