extends layout

block content
	h1 #{title}
	form(action="/quiz", method="post")
		.question
			.col-md-2
			h3 1. What bird am I!
			.row
				img(class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 img-thumbnail guessgameimg" src="https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/duck.jpg")
			.row
				.col-md-2
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer1', value='Duck')
					label(for='problem1') I'm a Duck!
				.col-xs-2.col-sm-2
					p Or
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer1', value='Eagle')
					label(for='problem1') I'm an Eagle!
		.question
			.col-md-2
			h3 2. I sure can run fast, what's my name!
			.row
				img(class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 img-thumbnail guessgameimg" src="https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/horse.jpg")
			.row
				.col-md-2
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer2', value='Horse')
					label(for='problem1') I'm a Horse!
				.col-xs-2.col-sm-2
					p Or
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer2', value='Zebra')
					label(for='problem1') I'm a Zebra!
			.col-md-1
		.question
			.col-md-2
			h3 3. I like to climb trees, whiat animal am I?
			.row
				img(class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 img-thumbnail guessgameimg" src="http://www.freeimages.com/assets/183283/1832820911/gray-squirrel-on-a-log-1446406-m.jpg")
			.row
				.col-md-2
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer1', value='Squirrel')
					label(for='problem1') I'm a Squirrel!
				.col-xs-2.col-sm-2
					p Or
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer1', value='Rabit')
					label(for='problem1') I'm a Rabbit!
		.question
			.col-md-2
			h3 4. I like to "Meow", what am I!
			.row
				img(class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 img-thumbnail guessgameimg" src="http://www.freeimages.com/assets/183300/1832992918/an-alert-cat-1375273-m.jpg")
			.row
				.col-md-2
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer2', value='Tiger')
					label(for='problem1') I'm a Tiger!
				.col-xs-2.col-sm-2
					p Or
				.ans.col-xs-6.col-sm-3
					input#problem1(type='radio', name='answer2', value='Cat')
					label(for='problem1') I'm a Cat!
			.col-md-1
		.row
			.col-md-8.col-md-offset-2
				input(class="btn btn-success form-control" type="submit" value="Submit")
