extends layout

block content
	#resultsText
		h1 Awesome Job
		h2 You got #{count} questions correct!
	#resultsIMG
		.row
			img(class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 img-thumbnail guessgameimg" src="https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/gorilla.jpg")