extends layout

block content
	.row
		.box.col-sm-4.col-sm-offset-1.col-md-4.col-md-offset-1.col-xs-8.col-xs-offset-2
			a(href="/quiz/Quiz1")
				img( src='https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/cow.jpg' class="img-thumbnail main-page-img")
			.text
				h3 Click Here to take the land animals quiz!
		.box.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-xs-8.col-xs-offset-2
			a(href="/quiz/Quiz2")
				img(src='https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/seal.jpg' class= "img-thumbnail main-page-img")
			.text
				h3 Click Here to take the sea creatures quiz!
		.col-md-1
	.row
			.box.col-sm-4.col-sm-offset-1.col-md-4.col-md-offset-1.col-xs-8.col-xs-offset-2
				a(href="/quiz/Quiz3")
					img(src='https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/turtle.jpg' class="img-thumbnail main-page-img")
				.text
					h3 Click Here to learn about Turtles!
			.box.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-xs-8.col-xs-offset-2
				a(href="/quiz/Quiz4")
					img(src='https://s3-eu-west-1.amazonaws.com/allaboutanimals/images/elephant.jpg' class= "img-thumbnail main-page-img")
				.text
					h3 Click Here to learn about elephants!
			.col-md-1