extends layout

block content
  h1
    | Site Map
  .row
    .col-sm-4.col-sm-offset-1.col-md-4.col-md-offset-1.col-xs-8.col-xs-offset-2
      .text
        a(href='/quizlist')
          h3 Quizzes
        a(href='/articles')
          h3 Articles
        a(href='/')
          h3 Reviews
        a(href='/admin')
          h3 Adminstration
        a(href='/mission')
          h3 Our Mission
        a(href='/search')
          h3 Search
