body {
  
  font: 14px "Myriad Pro", Helvetica, Arial, sans-serif;
  /*background-color: rgb(216, 239, 245);*/
  font-family:
}

#thumb{
	height: 200px;
}
header{
	background-color: rgb(216, 239, 245);
	color: rgb(27,20,100);
}
#title{
	font-size: 50px;
}

#siteTitle{
	font-size: 40px;
	text-align: center;
}

.wrapper{
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	/*height: 1000px;*/
	background-color: rgb(216, 239, 245);
	padding: 20px;
}

.menu{
	color: white;
	font-size: 18px;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	/*padding-right: 50px;*/
	border-right: 2px solid white;
	/*padding-left: 50px;*/

}

.question{
	margin-bottom: 20px;
}

.menubar{
  background-color: rgb(27,20,100);
}

footer{
	margin-top: 10px;
}

.guessgameimg{

	height: 300px;
	/*border: 1px solid black;*/
}

.main-page-img{
	height: 150px;
}

.box {
	  margin-top: 30px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background: #009933;
    text-align: center;
    text-decoration: none;
}
.answer {position:absolute;}

.answer input {visibility:hidden; width:0;}

.answer label:hover {font-weight:bold}

.answer input:checked + label {font-weight:bold; text-transform:uppercase}




