body {
  
  font: 14px "Myriad Pro", Helvetica, Arial, sans-serif;
  /*background-color: rgb(216, 239, 245);*/
  font-family:
}

.text{
	color: black;
}

#thumb{
	height: 200px;
}
header{
	background-color: rgb(216, 239, 245);
	color: rgb(27,20,100);
}
#title{
	font-size: 50px;
}

#siteTitle{
	font-size: 40px;
	text-align: center;
}

.wrapper{
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	background-color: rgb(216, 239, 245);
	padding: 20px;
}

.menu{
	text-align: center;
	color: white;
	font-size: 18px;
	border-right: 2px solid white;
	width: 150px;

}

.questionform{
	border: 1px solid white;
	margin: 20px;
}
.question{
	margin-bottom: 20px;
}

.menubar{
  background-color: rgb(27,20,100);
}

footer{
	margin-top: 10px;
}

.guessgameimg{
	height: 300px;
}

#resultsText{
	text-align: center;
}

.main-page-img{
	height: 150px;
}

.box {
	  margin-top: 30px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background: #009933;
    text-align: center;
    text-decoration: none;
}

.review{
	margin: 10px;
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 20px;
}




